body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 0;
  font-family: "Poppins";
}

.container {
  position: relative;
  width: 250px;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 15px;
  background: linear-gradient(180deg, #54374c 0%, #202020 59.37%);
  -webkit-box-shadow: 0px 0px 33px 14px rgba(1, 28, 49, 0.2);
  -moz-box-shadow: 0px 0px 33px 14px rgba(1, 28, 49, 0.2);
  box-shadow: 0px 0px 33px 14px rgba(1, 28, 49, 0.2);
  border-radius: 25px;
  padding: 10px 15px;
}

.controls {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 240px;
  margin-top: 20px;
}
.controls__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  height: 50px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  padding: 0 20px;
  margin-top: 20px;
}

.controls__seek {
  position: relative;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  color: white;
  font-size: 8px;
  font-weight: 300;
  font-style: normal;
}
.controls__seek_time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.controls__volume {
  display: flex;
  gap: 10px;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.main__author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 40px;
  color: white;
  padding: 0 20px;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}

.main__author > p {
  margin: 0;
}

.main__song {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 25px;
}

.main__song_img {
  height: 100%;
}

.navigate {
  display: flex;
  height: 30px;
  width: calc(100% - 20px);
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.navigate > p {
  color: white;
  font-weight: 300;
  font-size: 14px;
}

.repeat {
  background: url(/img/Repeat.png) no-repeat center / cover;
}

.repeatOne {
  background: url(/img/RepeatOne.png) no-repeat center / cover;
}
.back {
  background: url(/img/back.png) no-repeat center / cover;
}
.play-pause {
  background: rgba(0, 0, 0, 0);
  background-image: url(/img/play.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pause {
  background: rgba(0, 0, 0, 0);
  background-image: url(/img/pause.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.next {
  background: url(/img/next.png) no-repeat center / cover;
}
.mix {
  background: url(/img/Shuffle.png) no-repeat center / cover;
}
.navigate_playlist {
  background: url(/img/arrow.png) no-repeat center / cover;
}
.menu {
  background: url(/img/menu.png) no-repeat center / cover;
}

.repeat,
.repeatOne,
.back,
.play-pause,
.pause,
.next,
.mix {
  width: 17px;
  height: 17px;
  border-style: none;
  cursor: pointer;
}

.navigate_playlist,
.menu {
  width: 25px;
  height: 25px;
  border-style: none;
  cursor: pointer;
}

.navigate_playlist.rotate {
  rotate: 180deg;
}

.seek-bar,
.volume-bar {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  background: white;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 3px;
  margin: 0;
}

.seek-bar {
  background: rgba(255, 255, 255, 0);
}

.seek-bar::-webkit-slider-thumb,
.volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 9px;
  height: 9px;
  background: white;
  border: 3px solid rgba(255, 255, 255, 0.15);
  cursor: pointer;
  border-radius: 100%;
}

.seek-bar::-webkit-slider-thumb {
  background: rgba(255, 255, 255, 0);
  border: 3px rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.low_volume {
  width: 12px;
  height: 12px;
  background: url(/img/low_volume.png) no-repeat center / cover;
}

.hight_volume {
  width: 16px;
  height: 14px;
  background: url(/img/hight_volume.png) no-repeat center / cover;
}

/* playlist */
.playlist__container {
  display: none;
  margin: 0;
}

.playlist__container.show {
  display: block;
  position: absolute;
  top: 53px;
  width: calc(100% - 30px);
  background: linear-gradient(
    180deg,
    #54374c12 0%,
    #54374cd6 7%,
    #202020 59.37%
  );
  border-radius: 0px 0px 10px 10px;
  padding: 15px 15px;
  margin: 0;
}

.playlist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.icon {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

.icon > img {
  height: 100%;
}

.item {
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  list-style: none;
  color: white;
  font-size: 10px;
  cursor: pointer;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 3px;
}

.item > div:first-child {
  width: 5px;
  margin-left: 7px;
}

.item__title > p {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  color: white;
  line-height: 14px;
  margin: 0;
}

.waveform {
  z-index: 0;
  position: absolute;
  top: -9px;
  width: 100%;
  height: 40px;
}
